DB_CONNECTION_STRING=mysql+mysqlconnector://root@localhost/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/main.py
FLASK_ENV=development
TWILIO_ACCOUNT_SID=ACf8a596825f363324ac97928191ed1912
TWILIO_AUTH_TOKEN=08a8d6fa301b1282f32ac3fb186aa166
from = +17579828798
to = +14078619703